$black-color: #000000;
$red-color: #b20000;
$overlay-bg-color: rgb(173, 173, 173, 0.4);
$button-hover-bg-color: rgba(0, 0, 0, 0.4);
$button-focus-bg-color: rgba(92, 10, 10, 0.4);
$font-family: "Source Sans 3", "Courier New", Courier, monospace;